<div class="input-wrapper">
  @if (label) {
    <label class="input__label" [for]="inputId()">
      {{ label }}
      @if (required) {
        <span class="input__label--required">*</span>
      }
    </label>
  }

  <div class="input__container">
    @if (icon && !showIconInside) {
      <img class="input__icon" [src]="icon" [alt]="label || 'Icon'">
    }

    <input
      [id]="inputId()"
      [type]="type === 'password' && passwordVisible() ? 'text' : type"
      [class]="inputClasses()"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [required]="required"
      [ngStyle]="inputStyles()"
      [(ngModel)]="internalValue"
      (blur)="onBlur()"
      (focus)="onFocus()"
      (input)="onInput($event)"
      (keydown)="onKeyDown($event)"
      (keyup)="onKeyUp($event)">

    @if (type === 'password' && showPasswordToggle) {
      <button
        type="button"
        class="input__toggle"
        (click)="togglePasswordVisibility()">
        <img [src]="passwordVisible() ? '/images/assets/hide-icon.svg' : '/images/assets/show-icon.svg'" alt="Toggle password">
      </button>
    }
  </div>

  @if (hasError()) {
    <div class="input__error">
      @if (errorMessage) {
        {{ errorMessage }}
      } @else if (validationErrors().length > 0) {
        @for (error of validationErrors(); track error) {
          <span>{{ error }}</span>
        }
      }
    </div>
  }

  @if (helperText && !hasError()) {
    <div class="input__helper">
      {{ helperText }}
    </div>
  }
</div>
