html {
	--bg-color-blue-lighter: #29abe2;
	--bg-color-blue-darker: #2a3647;
	--bg-color-white: #fff;
	--bg-color-gray: #f6f7f8;
	--bg-color-gray-darker: #d1d1d1;
	--color-link: #007cee;
	--text-color-blue: #2a3647;
	--text-color-black: #000;
	--fs-small: 16px;
	--fs-medium: 18px;
	--fs-big: 20px;
	--fs-h1: 48px;
	--fs-input: 20px;
	--fs-button: 20px;
}
